<p id="notice"><%= notice %></p>

<h1>Vehicules</h1>

<table>
  <thead>
    <tr>
      <th>Matricule</th>
      <th>Matricule ant</th>
      <th>Date mc</th>
      <th>Date mc maroc</th>
      <th>Date mutation</th>
      <th>Usage</th>
      <th>Proprietaire</th>
      <th>Address</th>
      <th>Date val cgrise</th>
      <th>Marque</th>
      <th>Type cgrise</th>
      <th>Genre</th>
      <th>Modele</th>
      <th>Carburant</th>
      <th>Chassis</th>
      <th>Cylindre</th>
      <th>Cv</th>
      <th>Place</th>
      <th>Ptac</th>
      <th>Poids</th>
      <th>Ptmct</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicules.each do |vehicule| %>
      <tr>
        <td><%= vehicule.matricule %></td>
        <td><%= vehicule.matricule_ant %></td>
        <td><%= vehicule.date_mc %></td>
        <td><%= vehicule.date_mc_maroc %></td>
        <td><%= vehicule.date_mutation %></td>
        <td><%= vehicule.usage %></td>
        <td><%= vehicule.proprietaire %></td>
        <td><%= vehicule.address %></td>
        <td><%= vehicule.date_val_cgrise %></td>
        <td><%= vehicule.marque %></td>
        <td><%= vehicule.type_cgrise %></td>
        <td><%= vehicule.genre %></td>
        <td><%= vehicule.modele %></td>
        <td><%= vehicule.carburant %></td>
        <td><%= vehicule.chassis %></td>
        <td><%= vehicule.cylindre %></td>
        <td><%= vehicule.cv %></td>
        <td><%= vehicule.place %></td>
        <td><%= vehicule.ptac %></td>
        <td><%= vehicule.poids %></td>
        <td><%= vehicule.ptmct %></td>
        <td><%= link_to 'Show', vehicule %></td>
        <td><%= link_to 'Edit', edit_vehicule_path(vehicule) %></td>
        <td><%= link_to 'Destroy', vehicule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicule', new_vehicule_path %>
