<p id="notice"><%= notice %></p>

p>Scan</strong>
  <%= cl_image_tag @vehicule.scan %>
</p>

<p>
  <strong>Matricule:</strong>
  <%= @vehicule.matricule %>
</p>

<p>
  <strong>Matricule ant:</strong>
  <%= @vehicule.matricule_ant %>
</p>

<p>
  <strong>Date mc:</strong>
  <%= @vehicule.date_mc %>
</p>

<p>
  <strong>Date mc maroc:</strong>
  <%= @vehicule.date_mc_maroc %>
</p>

<p>
  <strong>Date mutation:</strong>
  <%= @vehicule.date_mutation %>
</p>

<p>
  <strong>Usage:</strong>
  <%= @vehicule.usage %>
</p>

<p>
  <strong>Proprietaire:</strong>
  <%= @vehicule.proprietaire %>
</p>

<p>
  <strong>Address:</strong>
  <%= @vehicule.address %>
</p>

<p>
  <strong>Date val cgrise:</strong>
  <%= @vehicule.date_val_cgrise %>
</p>

<p>
  <strong>Marque:</strong>
  <%= @vehicule.marque %>
</p>

<p>
  <strong>Type cgrise:</strong>
  <%= @vehicule.type_cgrise %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @vehicule.genre %>
</p>

<p>
  <strong>Modele:</strong>
  <%= @vehicule.modele %>
</p>

<p>
  <strong>Carburant:</strong>
  <%= @vehicule.carburant %>
</p>

<p>
  <strong>Chassis:</strong>
  <%= @vehicule.chassis %>
</p>

<p>
  <strong>Cylindre:</strong>
  <%= @vehicule.cylindre %>
</p>

<p>
  <strong>Cv:</strong>
  <%= @vehicule.cv %>
</p>

<p>
  <strong>Place:</strong>
  <%= @vehicule.place %>
</p>

<p>
  <strong>Ptac:</strong>
  <%= @vehicule.ptac %>
</p>

<p>
  <strong>Poids:</strong>
  <%= @vehicule.poids %>
</p>

<p>
  <strong>Ptmct:</strong>
  <%= @vehicule.ptmct %>
</p>

<%= link_to 'Edit', edit_vehicule_path(@vehicule) %> |
<%= link_to 'Back', vehicules_path %>
