<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<table>
  <thead>
    <tr>
      <<th>Scan</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Address</th>
      <th>Ville</th>
      <th>Pays</th>
      <th>Date naissance</th>
      <th>Lieu naissance</th>
      <th>Sexe</th>
      <th>Cin</th>
      <th>Date val cin</th>
      <th>Num permis</th>
      <th>Cat permis</th>
      <th>Lieu permis</th>
      <th>Date permis</th>
      <th>Date val permis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= cl_image_tag client.scan %><td>
        <td><%= client.nom %></td>
        <td><%= client.prenom %></td>
        <td><%= client.address %></td>
        <td><%= client.ville %></td>
        <td><%= client.pays %></td>
        <td><%= client.date_naissance %></td>
        <td><%= client.lieu_naissance %></td>
        <td><%= client.sexe %></td>
        <td><%= client.cin %></td>
        <td><%= client.date_val_cin %></td>
        <td><%= client.num_permis %></td>
        <td><%= client.cat_permis %></td>
        <td><%= client.lieu_permis %></td>
        <td><%= client.date_permis %></td>
        <td><%= client.date_val_permis %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
