<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @att_atock.type %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @att_atock.numero %>
</p>

<p>
  <strong>Used:</strong>
  <%= @att_atock.used %>
</p>

<%= link_to 'Edit', edit_att_atock_path(@att_atock) %> |
<%= link_to 'Back', att_atocks_path %>
