<p id="notice"><%= notice %></p>

<p>
  <strong>image</strong>
  <%= cl_image_tag @scan_att_stock.filepath, height: 300, width: 400, crop: :fill %>
</p>


<strong>OCR</strong>
<%= @ocr %>

<p>
  <strong>Type:</strong>
  <%= @scan_att_stock.typeV %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @scan_att_stock.qty %>
</p>

<p>
  <strong>Du:</strong>
  <%= @scan_att_stock.du %>
</p>

<p>
  <strong>Au:</strong>
  <%= @scan_att_stock.au %>
</p>

<p>
  <strong>Le:</strong>
  <%= @scan_att_stock.le %>
</p>

<ul class="list-group">
<% @new_stock.each do |a| %>
<li class="list-group-item">Attestation n:<%= a.numero %> Type: <%= a.typeV %> Recu le: <%= a.scan_att_stock.le %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_scan_att_stock_path(@scan_att_stock) %> |
<%= link_to 'Back', scan_att_stocks_path %>
